In [66]:
import sqlite3
from meteostat import Point, Daily
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from datetime import datetime
from sqlalchemy import create_engine

conn=sqlite3.connect("meteo.db")

geolocator = Nominatim(user_agent="my_weather_app")

In [ ]:
city_name="Bologna"

location=geolocator.geocode(city_name)
location

In [ ]:
print(location.latitude)
print(location.longitude)
print(location.address)

In [ ]:
city_point = Point(location.latitude, location.longitude, 20)
city_point

In [ ]:
start=datetime(2022, 1, 1).date()
end=datetime.now().date()
start

In [71]:
start = datetime.combine(start, datetime.min.time())
end = datetime.combine(end, datetime.min.time())

In [ ]:
data = Daily(city_point, start, end)
data

In [ ]:
df=data.fetch()

In [ ]:
db_engine = create_engine('sqlite:///meteo.db')
db_engine

In [ ]:
df.to_sql(city_name,con=db_engine,if_exists="replace")

In [76]:
with sqlite3.connect("meteo.db") as conn:
    # interact with database
    pass

In [77]:
def fetch_weather_data(lat, lon, start, end):
    city_point = Point(lat, lon, 20)
    data = Daily(city_point, start, end)
    df = data.fetch()
    return df

In [78]:
def get_city_coordinates(city_name):
    try:
        location = geolocator.geocode(city_name)
        if location:
            return {
                'lat': location.latitude,
                'lon': location.longitude,
                'address': location.address
            }
        return None
    except GeocoderTimedOut:
        return None

In [1]:
from meteo import *

city_name="Bologna"

bologna_meteo=meteo_fetcher(city_name)

bologna_meteo.fetch_city_data()

Location(Bologna, Emilia-Romagna, Italia, (44.4938203, 11.3426327, 0.0))

In [2]:
df=bologna_meteo.fetch_meteo_data(datetime(2022,1,1).date(),datetime(2024,12,31).date())

In [3]:
df

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2022-01-01   1.7  -0.9   4.3   0.0   NaN  287.0   3.7   NaN  1025.6   NaN
2022-01-02   4.2  -1.9  11.1   0.0   NaN  315.0   4.7   NaN  1024.9   NaN
2022-01-03   4.2   3.1   5.1   0.0   NaN   84.0   5.1   NaN  1020.4   NaN
2022-01-04   4.7   3.1   6.1   0.0   NaN  305.0   4.4   NaN  1012.1   NaN
2022-01-05   6.7   4.1  14.7  19.9   NaN  293.0  10.6   NaN  1001.9   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2024-12-27   3.3  -0.9  10.1   0.0   NaN  245.0   8.0   NaN  1032.9   NaN
2024-12-28   5.3   0.9  12.1   0.0   NaN  236.0   8.3   NaN  1028.3   NaN
2024-12-29   5.9   1.0  13.1   0.0   NaN  232.0   8.1   NaN  1027.4   NaN
2024-12-30   5.8   1.5  12.1   0.0   NaN  226.0   7.3   NaN  1029.2   NaN
2024-12-31   5.0   1.1  11.1   0.0   NaN  229.0   6.7   NaN  1031.4   NaN

[1096 rows x 10 columns]

In [4]:
bologna_meteo.load_to_sql(df,city_name)

'success'