In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv('https://frenzy86.s3.eu-west-2.amazonaws.com/fav/iris.data')
print(df.columns)
df.loc[-1] = df.columns
df.index = df.index + 1
df = df.sort_index()
df.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
df

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

    sepal length sepal width petal length petal width           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [37]:
feature_cols = ['pregnant', 'insulin', 'bmi', 'age','glucose','bp','pedigree']
X = df.drop('class',axis=1) # Features
y = df['class']

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=16)
y_test

56     Iris-versicolor
32         Iris-setosa
50     Iris-versicolor
77     Iris-versicolor
63     Iris-versicolor
45         Iris-setosa
75     Iris-versicolor
29         Iris-setosa
47         Iris-setosa
94     Iris-versicolor
60     Iris-versicolor
148     Iris-virginica
134     Iris-virginica
9          Iris-setosa
137     Iris-virginica
53     Iris-versicolor
7          Iris-setosa
26         Iris-setosa
106     Iris-virginica
87     Iris-versicolor
39         Iris-setosa
42         Iris-setosa
119     Iris-virginica
109     Iris-virginica
51     Iris-versicolor
99     Iris-versicolor
76     Iris-versicolor
136     Iris-virginica
129     Iris-virginica
0          Iris-setosa
145     Iris-virginica
104     Iris-virginica
13         Iris-setosa
73     Iris-versicolor
48         Iris-setosa
84     Iris-versicolor
11         Iris-setosa
92     Iris-versicolor
Name: class, dtype: object

In [39]:
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(random_state=16)

# fit the model with data
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)
y_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor'], dtype=object)

In [40]:
df_results=pd.DataFrame(y_test)
df_results['pred']=y_pred
df_results

               class             pred
56   Iris-versicolor  Iris-versicolor
32       Iris-setosa      Iris-setosa
50   Iris-versicolor  Iris-versicolor
77   Iris-versicolor   Iris-virginica
63   Iris-versicolor  Iris-versicolor
45       Iris-setosa      Iris-setosa
75   Iris-versicolor  Iris-versicolor
29       Iris-setosa      Iris-setosa
47       Iris-setosa      Iris-setosa
94   Iris-versicolor  Iris-versicolor
60   Iris-versicolor  Iris-versicolor
148   Iris-virginica   Iris-virginica
134   Iris-virginica   Iris-virginica
9        Iris-setosa      Iris-setosa
137   Iris-virginica   Iris-virginica
53   Iris-versicolor  Iris-versicolor
7        Iris-setosa      Iris-setosa
26       Iris-setosa      Iris-setosa
106   Iris-virginica  Iris-versicolor
87   Iris-versicolor  Iris-versicolor
39       Iris-setosa      Iris-setosa
42       Iris-setosa      Iris-setosa
119   Iris-virginica  Iris-versicolor
109   Iris-virginica   Iris-virginica
51   Iris-versicolor  Iris-versicolor
99   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor
136   Iris-virginica   Iris-virginica
129   Iris-virginica   Iris-virginica
0        Iris-setosa      Iris-setosa
145   Iris-virginica   Iris-virginica
104   Iris-virginica   Iris-virginica
13       Iris-setosa      Iris-setosa
73   Iris-versicolor  Iris-versicolor
48       Iris-setosa      Iris-setosa
84   Iris-versicolor  Iris-versicolor
11       Iris-setosa      Iris-setosa
92   Iris-versicolor  Iris-versicolor

In [41]:
species={'Iris-versicolor':0,'Iris-setosa':1,'Iris-virginica':2}

In [42]:
df_results['class']=df_results['class'].map(species)
df_results['pred']=df_results['pred'].map(species)
df_results

     class  pred
56       0     0
32       1     1
50       0     0
77       0     2
63       0     0
45       1     1
75       0     0
29       1     1
47       1     1
94       0     0
60       0     0
148      2     2
134      2     2
9        1     1
137      2     2
53       0     0
7        1     1
26       1     1
106      2     0
87       0     0
39       1     1
42       1     1
119      2     0
109      2     2
51       0     0
99       0     0
76       0     0
136      2     2
129      2     2
0        1     1
145      2     2
104      2     2
13       1     1
73       0     0
48       1     1
84       0     0
11       1     1
92       0     0

In [ ]:
df_results['results']=df_results['class']-df_results['pred']
df_results['results'].value_counts()

results
 0    35
 2     2
-2     1
Name: count, dtype: int64

In [44]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(logreg, f)

In [51]:
import polar as pl